# blockstack_core.service
[Unit]
Description=Blockstack Core service
Requires=docker.service
Requires=create_docker_network.service
After=create_docker_network.service
After=bitcoin_regtest.service
After=p2p_firewall.service
After=neon.service

[Service]
TimeoutStartSec=60
Restart=always
RemainAfterExit=yes
RuntimeDirectory=mnt/stateful_partition/bitcoind
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

ExecStartPre=-/usr/bin/docker stop blockstack_core
ExecStartPre=-/bin/sleep 1
ExecStartPre=-/usr/bin/docker pull blockstack/stacks-blockchain:latest
ExecStart=/usr/bin/docker run \
  --log-driver=fluentd \
  --restart=always \
  --net=bitcoind \
  --ulimit nofile=90000:90000 \
  -p 20443:20443 \
  -p 20444:20444 \
  --expose 20443 \
  --expose 20444 \
  -e RUST_BACKTRACE=full \
  -v /mnt/stateful_partition/bitcoind/configs/bitcoin/blockstack_core.toml:/src/stacks-blockchain/god-node-conf.toml \
  --name blockstack_core \
  blockstack/stacks-blockchain:latest \
/bin/stacks-node start --config /src/stacks-blockchain/god-node-conf.toml

ExecStop=-/usr/bin/docker stop blockstack_core
ExecStopPost=-/usr/bin/docker rm -f blockstack_core
ExecReload=-/usr/bin/docker restart blockstack_core

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
