# clone_repo.service
[Unit]
Description=Checkout neon-docker Repo
ConditionPathExists=!/mnt/stateful_partition/bitcoind
Before=docker.service
Before=pull_repo.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/git clone -b master --single-branch https://github.com/blockstackpbc/neon-docker /mnt/stateful_partition/bitcoind
ExecStartPost=/usr/bin/rsync -av --exclude='/mnt/stateful_partition/bitcoind/unit-files/nginx.service' /mnt/stateful_partition/bitcoind/unit-files/ /etc/systemd/system/
ExecStartPost=/usr/bin/systemctl daemon-reload

[Install]
WantedBy=multi-user.target
