# fluentd.service
[Unit]
Description=fluentd Service
After=docker.service
After=create_docker_network.service

[Service]
WorkingDirectory=/mnt/stateful_partition/bitcoind
EnvironmentFile=/mnt/stateful_partition/bitcoind/fluentd/fluentd.env
TimeoutStartSec=0
Restart=on-failure
RemainAfterExit=yes
RestartSec=5
ExecStartPre=-/usr/bin/docker pull quay.io/blockstack/fluentd:v1.3
ExecStart=/usr/bin/docker run \
  --rm \
  --net=bitcoind \
  -p 24224:24224 \
  -e FLUENTD_OPT="${FLUENTD_OPT}" \
  -e OUTPUT_HOST="${OUTPUT_HOST}" \
  -e OUTPUT_PORT="${OUTPUT_PORT}" \
  -e OUTPUT_SCHEME="${OUTPUT_SCHEME}" \
  -e OUTPUT_BUFFER_FLUSH_THREAD_COUNT="${OUTPUT_BUFFER_FLUSH_THREAD_COUNT}" \
  -e OUTPUT_BUFFER_FLUSH_INTERVAL="${OUTPUT_BUFFER_FLUSH_INTERVAL}" \
  -e OUTPUT_BUFFER_RETRY_MAX_INTERVAL="${OUTPUT_BUFFER_RETRY_MAX_INTERVAL}" \
  -e OUTPUT_BUFFER_TOTAL_LIMIT="${OUTPUT_BUFFER_TOTAL_LIMIT}" \
  -e OUTPUT_BUFFER_CHUNK_LIMIT="${OUTPUT_BUFFER_CHUNK_LIMIT}" \
  -e OUTPUT_BUFFER_QUEUE_LIMIT="${OUTPUT_BUFFER_QUEUE_LIMIT}" \
  -e OUTPUT_SSL_VERIFY="${OUTPUT_SSL_VERIFY}" \
  -e OUTPUT_USER="${OUTPUT_USER}" \
  -e OUTPUT_PASSWORD="${OUTPUT_PASSWORD}" \
  -v /var/lib/docker/containers:/var/lib/docker/containers \
  -v /usr/lib64:/host/lib \
  -v /mnt/stateful_partition/bitcoind/fluentd/fluentd.conf:/etc/fluent/config.d/system.conf \
  --name fluentd \
quay.io/blockstack/fluentd:v1.3

ExecStop=-/usr/bin/docker stop fluentd
ExecReload=-/usr/bin/docker restart fluentd

[Install]
WantedBy=multi-user.target
