# neon.service
[Unit]
Description=Neon service
PartOf=blockstack_core.service
After=testnet.service
After=p2p_firewall.service
Requires=p2p_firewall.service

[Service]
TimeoutStartSec=0
Restart=always
RuntimeDirectory=mnt/stateful_partition/bitcoind
PrivateTmp=true
ProtectSystem=full
NoNewPrivileges=true
PrivateDevices=true

ExecStartPre=-/usr/bin/docker stop neon
ExecStartPre=-/usr/bin/docker rm neon
ExecStartPre=-/usr/bin/docker pull quay.io/blockstack/bitcoind:neon
ExecStart=/usr/bin/docker run \
  --net=bitcoind \
  --ulimit nofile=90000:90000 \
  -p 18443:18443 \
  --expose 18443 \
  -v /mnt/stateful_partition/bitcoind/configs/bitcoin/neon-master-node.toml:/etc/neon-master-node/Config.toml \
  --name neon \
  quay.io/blockstack/bitcoind:neon \
/usr/local/bin/bitcoin-neon-controller /etc/neon-master-node/Config.toml

ExecStartPost=/bin/sleep 10
ExecStop=-/usr/bin/docker stop neon
ExecStopPost=-/usr/bin/docker rm -f neon
ExecReload=-/usr/bin/docker restart neon

# Deny the creation of writable and executable memory mappings.
MemoryDenyWriteExecute=true

[Install]
#WantedBy=multi-user.target
WantedBy=blockstack_core.service
