# pull_repo.service
[Unit]
Description=Update bitcoin-docker Repo
ConditionPathExists=/tmp/bitcoind
Requires=clone_repo.service
After=clone_repo.service

[Service]
Type=simple
ExecStart=/usr/bin/git -C /tmp/bitcoind pull

[Install]
WantedBy=multi-user.target
